POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=student_pipeline
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# MongoDB local connection
MONGO_URI=mongodb://localhost:27017
MONGO_DB=student_pipeline
MONGO_COLLECTION=student_profiles

